<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        {%load static%}
        <link rel="stylesheet" href="{% static 'css/cesta.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
        </style>
        <title>
            Germana's Shop
        </title>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
       
    </head>
    <body>
        {% include 'loja/navbar.html' %}
        <div id="container">
            <h1>Minha cesta</h1>

            <div id="header_cesta">
                <h2 >Produto</h2>
                <h2 style="padding-left: 28%;"  >Quantidade</h2>
                <h2 style="padding-left: 7%;">Preço</h2>
                <hr>
            </div>

            <div id = "cestaa">
              
                <div id="lista_produtos">
                    
                    {% for produto in lista_produtos %}
                        <div class="produto">
                            <img id="img_produto" src={{ produto.url_imagem }} alt="">
                            <p id="nome_produto">{{produto.nome}}</p>
                            
                            <div id="quantidade">
                                <input type="button"  class="btn_mais" value="+">
                                <p>1</p>
                                <input type="button" class="btn_menos" value="-">
                            </div>
                            <div class="preço">
                                <h2 >R$ {{produto.preco}}</h1>
                            </div>
                        </div>

        
                    {% endfor %}
                   
                </div>
                <div id="resumo">
                    <div id="price_container">
                        <h1 >Valor total</h1>
                        <h2 id="total_price">aaa</h2>
                    </div>
                    <div class="button_container">
                        <button onclick=irParaHistorico() id="comprar">Comprar</button>
                    </div>
                </div>
            </div> 
        </div>   
    </body>
    <script >

        function irParaHistorico(){
            window.location.href ="{% url 'loja:comprar' %}"
        }
       ;
       
        $(".btn_mais").on('click',(e)=>{
            quantity = parseInt($(e.target).parent().find("p").text())
            quantity+=1;
            $(e.target).parent().find("p").text(quantity)
            preco_produto = parseInt($(e.target).parent().next().children().text().replace('R$',''))
            preco_produto= preco_produto + preco_produto/(quantity-1)
            $(e.target).parent().next().children().text('R$ '+ preco_produto)
            total_price = parseInt($('#total_price').text().replace('R$',''))
            total_price += preco_produto/(quantity)
            $('#total_price').text('R$ '+ total_price)
        })
        $(".btn_menos").on('click',(e)=>{
            quantity = parseInt($(e.target).parent().find("p").text())
            if(quantity > 1 ){
                preco_produto = parseInt($(e.target).parent().next().children().text().replace('R$',''))
                preco_produto= preco_produto - preco_produto/(quantity)
                $(e.target).parent().next().children().text('R$ '+ preco_produto)
                total_price = parseInt($('#total_price').text().replace('R$',''))
                total_price = total_price - preco_produto/(quantity-1)
                console.log(preco_produto/(quantity-1) )
                $('#total_price').text('R$ '+ total_price)
            }
            
            if(quantity-1 > 0)
                quantity-=1
            $(e.target).parent().find("p").text(quantity)
           
            
        })
        
        precos = document.getElementsByClassName('preço')
        sum_preco = 0;
        for(i = 0; i < precos.length; i++){
            sum_preco += parseInt(precos[i].outerText.replace('R$',''))

        }
       document.getElementById('total_price').textContent = sum_preco + ' R$'
    </script>

</html>