<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recuperar_senha.css' %}">
</head>

<body>

    <div id="container-form">
        <img id="logo" src="{% static 'img/logo-login.png' %}" alt="">
        <h1 class="titulo">Recuperar senha</h1>
        <div class="formulario">
            <form method="POST" action="{% url 'cliente:enviar_email' %}">
                {% csrf_token %}
                <div class="campo-formulario">
                    <label>E-mail</label>
                    <input type="email" required="true" name="email" id="email" placeholder="Digite seu e-mail">
                </div>
                
                <input id="botao" type="submit" value="Continuar">
            </form>
        </div>
        <div>
            <label class="textinho">Deseja voltar para a tela inicial? <a href="{% url 'loja:inicio' %}">Voltar</a> </label>
        </div>
    </div>


</body>

</html>