body{
    margin: 0px;
    background-color: #FFF;
    display: relative;
    align-items: center;
    height: 100%;
    width: 100%;
}

#logo{
    height: 80px;
}

#coluna{
    position: absolute;
    top: 10%;
    display: flex;
    width: 100%;
    flex-direction: row;
}

#container-form{
    margin: auto;
    height: 450px;
    width: 380px;
    background-color: #FFC8CA;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#container-form h1{
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: black;
}

.campo-formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 15px;
}

.campo-formulario label{
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}

.campo-formulario input{
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    border: none;
    padding: 2px;
    padding-left: 10px;
}

#botao{
    background-color: #F9595F; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none; 
    border-radius: 8px; 
    width: 100%; 
    font-size: 20px
}

.textinho{
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    margin: 5px;
}