body{
    margin: 0%;
    padding: 0%;
}

h1{
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    padding-left: 10px;
    color: #000000;
}
h2{
    font-family: 'Dosis', sans-serif;
    display: inline-block;
    padding-left: 10px;
    font-weight: 500;
}
h3{
    font-family: 'Dosis', sans-serif;
    display: inline-block;
    color: #4E4E4E;
}
h4{
    font-family: 'Dosis', sans-serif;
    color: #4E4E4E;
}
.produto{

 display:flex;
 align-items: center;
}
#lista_produtos{
    display:flex;
    flex-direction: column; 
}
#img_produto{
    float: left;
    margin: 3%;
    max-width: 120px;
    max-height: auto;
}
#header_cesta h2{
    margin-left: 20px;
}
#cestaa{
    display:flex;
}
#nome_produto{
   
    float: left;
    overflow-wrap: break-word;
    line-break: strict;
    font-family: 'Dosis',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    width: 33%;
    color: #000000;
}

input{
    float: left;
    padding: 10px;
    border: 3px groove #cecece;
    font-size: 20px;
    text-align: center;
}

#quantidade{
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    width:10%;
   
}
.btn_mais{
    border: none;
    background-color: white;
    color: #F9595F;
}
.btn_menos{
    border: none;
    background-color: white;
    color: #F9595F;
}

.btn_mais:hover, .btn_menos:hover{
    background-color: rgb(214, 214, 214);
}


.preço{
    display: flex; 
    margin-left: 50px;  
}
.preço h2{
    font-size: 2em;
    font-weight: bold;
  
}
#resumo{
    background-color: #F8F8F8;
    border-radius: 16px;
    width:20%;
    border:4px solid #FFC8CA;
    display:flex;
    height:300px; 
    align-items:center; 
    justify-content:center;
    flex-direction:column;
    
}

#price_container{
    display:flex; 
    align-items:center; 
    justify-content:center;
    flex-direction:column;

}

#total_price{
    font-size:2.4em;
    font-weight: bold;
}
.button_container{
    display:flex;
    align-items:center; 
    width:65%;
    flex-direction:column;
    margin-bottom:30px;
}
.price_container h3{
    font-size: 36px;
}
#comprar{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    color: white;
    background: #1A659E;
    border-radius: 16px;
    border: 0ch;
}